[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule ".git-scripts"]
	path = .git-scripts
	url = https://github.com/jwiegley/git-scripts.git
[submodule ".vim/bundle/ansible-vim"]
	path = .vim/bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim.git
