[gui]
	encoding = utf-8
[user]
	name = Antoine
	email = antoine@eshango.com
[color]
	ui = auto
[merge]
	tool = vimdiff
[i18n]
	commitencoding = utf-8
[github]
	user = tonin
[push]
	default = simple
[core]
	excludesfile = ~/.mygitignore
