[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".svn-color"]
	path = .svn-color
	url = git@github.com:tonin/svn-color.git
[submodule "svn-color"]
	path = svn-color
	url = git@github.com:tonin/svn-color.git
