[gui]
    encoding = utf-8
[user]
    name = Antoine Delvaux
    email = antoine.delvaux@gmail.com
[color]
    ui = auto
[merge]
    tool = vimdiff
[i18n]
    commitencoding = utf-8
[github]
    user = tonin
[push]
    default = simple            # Only work with git > 1.8
[core]
    excludesfile = ~/.mygitignore
[alias]
    clog = log --pretty=format:"%C(auto)%h%x09%Cgreen%<(15,trunc)%an%x09%Cblue%ad%C(auto)%+d%x09%Creset%<(90,trunc)%s" --date=short --graph --decorate --all
    clogs = !git clog --simplify-by-decoration
[pull]
    rebase = true
